locals.zsh
projects.zsh
*.swp

#zsh-syntax-highlighting/

# custom files
#custom
#!custom/plugins/example
#!custom/example.zsh
#!custom/themes
#!custom/example.zshcache

# temp files directories
cache/
log/
