# custom files
custom/
!custom/plugins/example
!custom/example.zsh

# temp files directories
cache/
log/
=======
locals.zsh
log/.zsh_history
projects.zsh
#custom
#!custom/plugins/example
#!custom/example.zsh
#!custom/themes
*.swp
#!custom/example.zshcache
cache
#zsh-syntax-highlighting/
